<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633168368670-fe7jgpem4hdl1jon2vi9ji5aj32c510e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633168368670-fe7jgpem4hdl1jon2vi9ji5aj32c510e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>633168368670-1vlsofh2kgbo3p9odr9ppaqh5q6onhpn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfUgUVwahLgNeJNFnwwYa29X4DP-k6i8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>633168368670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sdCampusApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sdcampus-d00f3</string>
	<key>STORAGE_BUCKET</key>
	<string>sdcampus-d00f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633168368670:ios:ab77f08f815714347c8a0f</string>
	<key>DATABASE_URL</key>
	<string>https://sdcampus-d00f3-default-rtdb.firebaseio.com</string>
</dict>
</plist>